* {
  margin: 0;
  padding: 0;
}
html {
  height: 100%;
}
body {
  height: 100%;
  overflow: hidden;
}
canvas {
  position: absolute;
}
.div1{
position:relative; z-index:1;
}
.div2{
position:absolute; top:50%; left:35%; z-index:2;
}
